<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>Hello World :)</h1>
    <div id="app">
        <h2>{{ title }}</h2>    
        <!-- conditional rendering -->
        <div v-if="show">
                <div v-for="book in books" :key="book.id">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </div>
        </div>
        <button @click='changeTitle'>click me</button>
        <button @click='toggleShow'>
            <span v-if="show">Hide</span>
            <span v-if="!show">Show</span>
        </button>
        <button @click='p5++'>click me</button>

        <div v-show="show">showing elements convo</div>


        <!-- attribute binding -->

        <a :href="url">search engine</a>

    </div>
    <script src="app.js"></script>
</body>
</html>